{% extends 'base.html.twig' %}

{% block title %}
    Eliminar autor
{% endblock %}


{% block body %}
    <h1>Eliminación de {{ autor }}</h1>

    <div class="alert alert-danger">
        ¡Atención! Se dispone a eliminar a {{ autor }}. Esta operación
        no se puede deshacer.
    </div>
    <form method="post">
        <button type="submit" name="confirmar" value="si" class="btn btn-danger"><i class="fa fa-trash-alt"></i> Eliminar definitivamente</button>
        <a href="{{ path('autor_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado sin eliminar</a>
    </form>
{% endblock %}

